.order-page {
  width: 100%;
  height: auto;
  display: flex;
  background: #f8f8fe;
}

.order-page .order-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-page .order-container .order-left {
  margin-top: 52px;
  width: 821px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-page .order-container .order-left .table-list {
  margin-bottom: 12px;
}

.order-page .order-container .order-left .order-main-content {
  margin-top: 25px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-page .order-container .order-right {
  margin-top: 128px;
  width: 372px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-page .order-container .order-right {
  margin-top: 165px;
  width: 372px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-page .order-container .order-right .user-box {
  position: relative;
  width: 100%;
  height: 308px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #f8f8fe;
  box-shadow: 14px 14px 5px 0px #bbbbbf, 0px 1px 11px 12px #d3d3e7 inset,
    0px 4px 16px 0px rgba(242, 189, 87, 0.04) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-page .order-container .order-right .user-box .user-image {
  width: 117px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 37px;
  background: url lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.order-page .order-container .order-right .user-box .badge-font {
  top: 119px;
  left: 210px;
  position: absolute;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 37px;
  background: rgba(0, 0, 0, 0.33);
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-page .order-container .order-right .user-box .badge-font .user-badge {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 37px;
  background: url lightgray 50% / cover no-repeat;
}

.order-page .order-container .order-right .user-box .user-name {
  font-family: Commissioner;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: #08090d;
}

.order-page .order-container .order-right .user-box .user-status {
  margin-bottom: 40px;
  font-family: Commissioner;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: #a1a1a1;
}

.order-page .order-container .order-right .user-box .adress-section {
  margin-top: 10px;
  width: 285px;
  height: 22px;
  display: flex;
  flex-direction: row;
}

.order-page .order-container .order-right .user-box .adress-section .adress {
  margin-left: 6px;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.order-page .order-container .order-right .card-box {
  margin-top: 23px;
  margin-bottom: 335px;
  width: 372px;
  height: 282px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #f8f8fe;
  box-shadow: 14px 14px 4px 0px #bcbcbf, 0px 0px 9px 14px #d3d3e7 inset,
    0px 4px 16px 0px rgba(242, 189, 87, 0.04) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-page .order-container .order-right .card-box .card-number {
  padding: 7px;
  width: 325px;
  height: 40px;
  flex-shrink: 0;
  font-family: Commissioner;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: #777;
  border-radius: 5px;
  border: 1px solid #b4aaaa;
  background: #f5f5f5;
  outline: none;
  box-sizing: border-box;
}

.order-page .order-container .order-right .card-box .card-datas {
  margin-top: 10px;
  width: 325px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-page .order-container .order-right .card-box .card-datas input {
  padding: 10px;
  width: 157px;
  height: 40px;
  flex-shrink: 0;
  font-family: Commissioner;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: #777;
  border-radius: 5px;
  border: 1px solid #b4aaaa;
  background: #f5f5f5;
  outline: none;
  box-sizing: border-box;
}

.order-page .order-container .order-right .card-box .card-user-name {
  margin-top: 10px;
  padding: 7px;
  width: 325px;
  height: 40px;
  flex-shrink: 0;
  font-family: Commissioner;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: #777;
  border-radius: 5px;
  border: 1px solid #b4aaaa;
  background: #f5f5f5;
  outline: none;
  box-sizing: border-box;
}

.order-page .order-container .order-right .card-box .card-holder {
  margin-top: 58px;
  width: 242px;
  height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* PausedOrders */
.order-page .order-container .order-left .order-main-content .order-main-box {
  margin-bottom: 32px;
  width: 821px;
  height: 244px;
  border-radius: 16px;
  background: #f8f8fe;
  box-shadow: -12px 12px 4px 0px #bababf, 0px 4px 10px 9px #d3d3e7 inset,
    0px 4px 16px 0px rgba(242, 189, 87, 0.04) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-page .order-main-content .order-main-box .order-box-scroll {
  margin: 26px 117px 15px 40px;
  width: 664px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.order-page
  .order-main-content
  .order-main-box
  .order-box-scroll::-webkit-scrollbar {
  display: none; /* WebKit browsers (Chrome, Safari, Edge) */
}

.order-page
  .order-main-content
  .order-main-box
  .order-box-scroll
  .orders-name-price {
  margin-bottom: 5px;
  width: 100%;
  height: 47px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order-page .order-box-scroll .orders-name-price .order-dish-image {
  width: 50px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 29px;
  background: url lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.order-page .order-box-scroll .orders-name-price .title-dish {
  margin-left: 20px;
  width: 300px;
  font-family: Commissioner;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: #000;
}

.order-page .order-box-scroll .orders-name-price .price-box {
  margin-left: 135px;
  width: 160px;
  height: auto;
  display: flex;
  flex-direction: row;
}

.order-page .order-box-scroll .orders-name-price .price-box p {
  width: 27px;
  height: 27.574px;
  flex-shrink: 0;
  color: rgba(38, 38, 38, 0.88);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.order-page .order-main-content .order-main-box .order-box-final {
  width: 750px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order-page .order-main-content .order-main-box .order-box-final .final-words {
  margin-right: 25px;
  font-family: Commissioner;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  color: #000;
}

.order-page
  .order-main-content
  .order-main-box
  .order-box-final
  .final-numbers {
  text-align: center;
  font-family: Commissioner;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #262626;
}

.order-page .order-main-content .order-main-box .order-box-final img {
  margin: 0 15px 0 15px;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}

.order-page .order-main-content .order-main-box .order-box-final .cancel-btn {
  margin-left: 80px;
  width: 93.105px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #d2b68c;
  font-family: Commissioner;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #343434;
}

.order-page .order-main-content .order-main-box .order-box-final .payment-btn {
  margin-left: 64px;
  width: 90px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #70b45b;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Commissioner;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #fff;
}

/* ProcessOrders */
.order-page
  .order-container
  .order-left
  .order-main-content
  .order-process-box {
  margin-bottom: 32px;
  width: 821px;
  height: 244px;
  border-radius: 16px;
  background: #f8f8fe;
  box-shadow: -12px 12px 4px 0px #bababf, 0px 4px 10px 9px #d3d3e7 inset,
    0px 4px 16px 0px rgba(242, 189, 87, 0.04) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-page .order-main-content .order-process-box .order-box-scroll {
  margin: 26px 117px 15px 40px;
  width: 664px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.order-page
  .order-main-content
  .order-process-box
  .order-box-scroll::-webkit-scrollbar {
  display: none; /* WebKit browsers (Chrome, Safari, Edge) */
}

.order-page
  .order-main-content
  .order-process-box
  .order-box-scroll
  .orders-name-price {
  margin-bottom: 5px;
  width: 100%;
  height: 47px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order-page
  .order-process-box
  .order-box-scroll
  .orders-name-price
  .order-dish-image {
  width: 50px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 29px;
  background: url lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.order-page
  .order-process-box
  .order-box-scroll
  .orders-name-price
  .title-dish {
  margin-left: 20px;
  width: 300px;
  font-family: Commissioner;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: #000;
}

.order-page .order-process-box .order-box-scroll .orders-name-price .price-box {
  margin-left: 135px;
  width: 160px;
  height: auto;
  display: flex;
  flex-direction: row;
}

.order-page
  .order-process-box
  .order-box-scroll
  .orders-name-price
  .price-box
  p {
  width: 27px;
  height: 27.574px;
  flex-shrink: 0;
  color: rgba(38, 38, 38, 0.88);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.order-page .order-main-content .order-process-box .order-box-final {
  width: 750px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order-page
  .order-main-content
  .order-process-box
  .order-box-final
  .final-words {
  margin-right: 25px;
  font-family: Commissioner;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  color: #000;
}

.order-page
  .order-main-content
  .order-process-box
  .order-box-final
  .final-numbers {
  text-align: center;
  font-family: Commissioner;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #262626;
}

.order-page .order-main-content .order-process-box .order-box-final img {
  margin: 0 15px 0 15px;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}

.order-page .order-process-box .order-box-final .data-compl {
  margin-left: 47px;
  font-family: Commissioner;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
}

.order-page
  .order-main-content
  .order-process-box
  .order-box-final
  .verify-btn {
  margin-left: 27px;
  width: 170px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #3a87cb;
  font-family: Commissioner;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #fff;
}

/* FinishedOrders */
.order-page .order-container .order-left .order-main-content .order-finish-box {
  margin-bottom: 32px;
  width: 821px;
  height: 244px;
  border-radius: 16px;
  background: #f8f8fe;
  box-shadow: -12px 12px 4px 0px #bababf, 0px 4px 10px 9px #d3d3e7 inset,
    0px 4px 16px 0px rgba(242, 189, 87, 0.04) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-page .order-main-content .order-finish-box .order-box-scroll {
  margin: 26px 117px 15px 40px;
  width: 664px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.order-page
  .order-main-content
  .order-finish-box
  .order-box-scroll::-webkit-scrollbar {
  display: none; /* WebKit browsers (Chrome, Safari, Edge) */
}

.order-page
  .order-main-content
  .order-finish-box
  .order-box-scroll
  .orders-name-price {
  margin-bottom: 5px;
  width: 100%;
  height: 47px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order-page
  .order-finish-box
  .order-box-scroll
  .orders-name-price
  .order-dish-image {
  width: 50px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 29px;
  background: url lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.order-page .order-finish-box .order-box-scroll .orders-name-price .title-dish {
  margin-left: 20px;
  width: 300px;
  font-family: Commissioner;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: #000;
}

.order-page .order-finish-box .order-box-scroll .orders-name-price .price-box {
  margin-left: 135px;
  width: 160px;
  height: auto;
  display: flex;
  flex-direction: row;
}

.order-page
  .order-finish-box
  .order-box-scroll
  .orders-name-price
  .price-box
  p {
  width: 27px;
  height: 27.574px;
  flex-shrink: 0;
  color: rgba(38, 38, 38, 0.88);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.order-page .order-main-content .order-finish-box .order-box-final {
  width: 750px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order-page
  .order-main-content
  .order-finish-box
  .order-box-final
  .final-words {
  margin-right: 25px;
  font-family: Commissioner;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  color: #000;
}

.order-page
  .order-main-content
  .order-finish-box
  .order-box-final
  .final-numbers {
  text-align: center;
  font-family: Commissioner;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #262626;
}

.order-page .order-main-content .order-finish-box .order-box-final img {
  margin: 0 15px 0 15px;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
