.products-page {
  width: 100%;
  height: auto;
}

/* Products */
.products {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #f8f8ff;
}

.products .menu-frame {
  margin-top: 83px;
  margin-bottom: 67px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products .menu-frame .menu-title-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.products .menu-frame .menu-title-box {
  width: 820px;
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.products .menu-frame .menu-title-box .menu-title {
  margin-right: 126px;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #343434;
}

.products .menu-frame .menu-title-box .search-box {
  position: relative;
  width: 360px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products .menu-frame .menu-title-box .search-box .search-input {
  padding-left: 17px;
  width: 100%;
  height: 28px;
  color: #4a4a4a;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 18.5px;
  border: 1px solid #fff;
  background: #fffcfc;
  box-shadow: 0px 4px 4px 0px rgba(212, 212, 212, 0.25);
  outline: none;
}

.products .menu-frame .menu-title-box .search-box .search-button {
  position: absolute;
  right: 0px;
  z-index: 100;
  width: 106px;
  height: 32px;
  color: "primary";
  border-radius: 18.5px;
  color: #d7b586;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.products .menu-frame .dishes-filter-section {
  margin-top: 71px;
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.products .menu-frame .dishes-filter-section .dishes-filter-box {
  margin-right: 47px;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products .menu-frame .dishes-filter-section .dishes-filter-box .order {
  width: 70px;
  height: 36px;
  border-radius: 8px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.products .menu-frame .dishes-filter-section .dishes-filter-box .views,
.products .menu-frame .dishes-filter-section .dishes-filter-box .price {
  width: 70px;
  height: 36px;
  border-radius: 8px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.products .menu-frame .list-category-section {
  margin-top: 40px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #f8f8ff;
}

.products .menu-frame .list-category-section .product-category {
  margin-top: 25px;
  width: 76px;
  height: 100%;
}

.products .menu-frame .list-category-section .product-category .category-main {
  margin-top: 25px;
  width: 100%;
  height: 389px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.products .menu-frame .product-category .category-main Button {
  width: 76px;
  height: 36px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.products .menu-frame .product-wrapper {
  margin-left: 25px;
  margin-bottom: 14px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 34px;
}

.products .menu-frame .product-wrapper .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e4c08d;
}

.products .menu-frame .product-wrapper .product-card {
  position: relative;
  width: 262px;
  height: 361px;
  border-radius: 0px 50px 0px 0px;
}

.products .menu-frame .product-wrapper .product-card .product-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0px 50px 0px 0px;
  cursor: pointer;
}

.products .product-wrapper .product-card .product-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
  z-index: 1;
  border-radius: 0px 50px 0px 0px;
}

.products .product-wrapper .product-card .product-img:hover::before {
  background: rgba(0, 0, 0, 0.45);
}

.products .product-wrapper .product-card .product-img .product-sale {
  position: absolute;
  margin: 10px 0 0 10px;
  z-index: 100;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff9200;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  color: #f8f8ff;
}

.products .product-wrapper .product-card .product-img .shop-btn {
  position: absolute;
  top: 240px;
  left: 90px;
  z-index: 150;
  width: 64px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #e3c08d;
  background: rgba(187, 47, 200, 0.78);
  opacity: 0;
}

.products .product-wrapper .product-card .product-img:hover .shop-btn {
  opacity: 1;
}

.products .product-wrapper .product-card .product-img .view-btn {
  position: absolute;
  top: 250px;
  left: 170px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  fill: rgba(0, 0, 0, 0.4);
  opacity: 0;
}

.products .product-wrapper .product-card .product-img:hover .view-btn {
  opacity: 1;
}

.products .product-wrapper .product-card .product-desc {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products .product-wrapper .product-card .product-desc .product-title {
  color: #343434;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.products .product-wrapper .product-card .product-desc .product-price {
  color: #e3c08d;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products .brands-logo {
  width: 100%;
  height: 630px;
  background: #0d1518;
}

.products .brands-logo .brands-frame {
  margin: 84px 90px;
  width: 100%;
  height: 455px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products .brands-logo .brands-frame .brands-title {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #e3c08d;
}

.products .brands-logo .brands-frame .brands-wrapper {
  margin-top: 59px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products .brands-logo .brands-frame .brands-wrapper .brand-box {
  width: 258.78px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #0d1518;
  box-shadow: 0px 0px 22px 0px #e4d4d4;
  transition: transform 0.3s ease;
}

.products .brands-logo .brands-frame .brands-wrapper .brand-box:hover {
  transform: scale(1.05);
}

.products
  .brands-logo
  .brands-frame
  .brands-wrapper
  .brand-box
  .brand-image
  img {
  width: 238.874px;
  height: 329px;
  flex-shrink: 0;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 16px 0px rgba(242, 189, 87, 0.04) inset;
}

.products .address {
  width: 100%;
  height: 740px;
  background: #f8f8ff;
}

.products .address .address-area {
  margin: 47px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products .address .address-area .title {
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #343434;
}

/** ChosenProduct **/
.products-page .chosen-product {
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .chosen-product .product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 150px;
}

.products-page .chosen-product .chosen-product-slider {
  width: 48%;
  height: 480px;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
}

.products-page .chosen-product .chosen-product-slider .swiper-area {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  width: 100%;
  height: 1020px;
}

.products-page
  .chosen-product
  .chosen-product-slider
  .swiper-area
  .slider-image {
  width: 100%;
  height: 100%;
}

.products-page .chosen-product .chosen-product-info {
  padding: 30px 40px;
  width: 49%;
  height: 480px;
  display: flex;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.products-page .chosen-product .chosen-product-info .info-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products-page .chosen-product .info-box .product-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.products-page .chosen-product .info-box .resto-name {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  color: #979797;
}

.products-page .chosen-product .info-box .rating-box {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .rating-box .star-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box .product-view {
  display: flex;
  align-items: center;
}

.products-page .chosen-product .info-box .product-desc {
  height: 112px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .info-box .product-price {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .product-price span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .button-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-page .chosen-product .button-box button {
  width: 230px;
  height: 44px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #f8f8ff;
}

.products-page .chosen-product .title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-top: 40px;
}
